@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

////////////////typography/////////////////////////
//weight
$Blood: 700;
$Normal: 400;
//Headings, Call-to-actions, Header Navigation
$Yellow:#FCC600;
$Mustard:#EBAD00;
$HeadFont: "Raleway", sans-serif;

//Body
$BodyFont: "Open Sans", sans-serif;
